.customModal {
	display: flex;
	flex-direction: column;
	width: 500px;
	&__header {
		display: flex;
		justify-content: space-between;
		padding: 8px;
		&-name {
			font-size: 20px;
			line-height: 32px;
			color: var(--text-dark)
		}
	}
}