.picker {
	display: flex;
	flex-direction: column;
	gap: 48px;
	padding: 24px;
}

@media (max-width: 1268px) {
	.picker {
		gap: 24px;
		padding: 16px;
	}
}
@media (max-width: 768px) {
	.picker {
		gap: 16px;
	}
}
@media (max-width: 400px) {
	.picker {
		padding: 8px;
	}
}