.borderedSection {
	&.top {
		border-top: var(--border);
		padding-top: 4px;
	}
	&.bottom {
		border-bottom: var(--border);
		padding-bottom: 4px;
	}
	&.right {
		border-right: var(--border);
		padding-right: 4px;
	}
	&.left {
		border-left: var(--border);
		padding-left: 4px;
	}
}
