.buttonInColor {
	display: flex;
	border: none;
	border-radius: var(--borderRadius-wide);
	background: transparent;
	cursor: pointer;
	opacity: 0;
	transition:
		background 0.2s ease-in-out,
		opacity 0.2s ease-in-out;
	p {
		font-size: 40px;
		font-weight: 700;
		line-height: 40px;
	}
	&.withIcon {
		padding: 8px;
	}
	&.withText {
		padding: 16px 24px;
	}
	&:hover {
		&.light {
			background: var(--primary-dark-transparent-10);
		}
		&.dark {
			background: var(--primary-light-transparent-10);
		}
	}
	&.visible {
		opacity: 1;
	}
}
