.picker__block {
	display: flex;
	flex-direction: column;
	gap: 24px;
	width: 100%;
	&-name {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 16px;
	}
	&-title {
		font-size: 48px;
		font-weight: 700;
		line-height: 48px;
		color: var(--primary-dark);
	}
	&-description {
		text-align: center;
		width: 720px;
		font-size: 32px;
		font-weight: 500;
		line-height: 40px;
		color: var(--primary-dark-transparent-50);
	}
}
