.MuiAlert-message {
	padding: 0 !important;
	font-size: 20px !important;
	font-weight: 700 !important;
	line-height: 32px !important;
	color: var(--white) !important;
	pointer-events: none !important;
	user-select: none;
}
.MuiAlert-icon {
	padding: 0 !important;
	margin: 0 !important;
}
.MuiAlert-root {
	display: flex !important;
	gap: 8px !important;
	padding: 8px 16px 8px 8px !important;
	background: var(--primary-dark-transparent-50) !important;
	border-radius: var(--borderRadius-wide) !important;
}
.MuiSnackbar-root {
	width: 100%;
	left: 50% !important;
	transform: translateX(-50%) !important;
	bottom: 24px !important;
}

@media (max-width: 768px) {
	.MuiAlert-message {
		font-size: 16px !important;
		line-height: 24px !important;
	}
	.MuiAlert-icon {
		svg {
			width: 24px !important;
			height: 24px !important;
		}
	}
}
