.colorInDashboard {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	gap: 24px;
	padding: 24px;
	width: 100%;
	height: 100%;
	&-arrows {
		display: flex;
		gap: 24px;
	}
}
