.header {
	display: flex;
	gap: 16px;
	&__navigation {
		position: relative;
		&-pointButton {
			user-select: none;
		}
	}
	&-page {
		font-weight: 700;
		font-size: 36px;
		line-height: 40px;
		color: var(--text-dark);
		user-select: none;
	}
	&__menuPopover {
		padding: 8px;
		gap: 8px;
		&-pages {
			display: flex;
			flex-direction: column;
			list-style: none;
			&.firstPages {
				.menuPopover__pageLink {
					display: flex;
					align-items: center;
					gap: 8px;
					padding: 8px;
					border-radius: var(--borderRadius-short);
					transition: background 0.2s ease-in-out;
					&:hover {
						background: var(--primary-dark-transparent-10);
					}
					&-ico {
						width: 32px;
						height: 32px;
						border-radius: var(--borderRadius-short);
						background: var(--primary-dark-transparent-10);
					}
					&-name {
						white-space: nowrap;
						font-size: 20px;
						line-height: 24px;
						color: var(--text-dark);
					}
				}
			}
			&.secondPages {
				.menuPopover__pageLink {
					display: flex;
					padding: 4px;
					&-name {
						white-space: nowrap;
						font-size: 14px;
						line-height: 16px;
						color: var(--text-dark);
					}
				}
			}
		}
	}
}
.MuiPopover-root {
	pointer-events: all !important;
}
.MuiPopover-paper {
	background: none !important;
	box-shadow: none !important;
}

@media (max-width: 1268px) {
	.header {
		&-page {
			font-size: 32px;
			line-height: 40px;
		}
	}
}
@media (max-width: 768px) {
	.header {
		gap: 12px;
		&__navigation {
			&-pointButton {
				svg {
					width: 24px;
					height: 24px;
				}
			}
		}
		&-page {
			font-size: 28px;
			line-height: 32px;
		}
	}
}
@media (max-width: 560px) {
	.header {
		gap: 8px;
		&__navigation {
			&-pointButton {
				svg {
					width: 20px;
					height: 20px;
				}
			}
		}
		&-page {
			font-size: 24px;
			line-height: 28px;
		}
	}
}
@media (max-width: 400px) {
	.header {
		&__navigation {
			&-pointButton {
				svg {
					width: 16px;
					height: 16px;
				}
			}
		}
		&-page {
			font-size: 20px;
			line-height: 24px;
		}
	}
}
