@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300..900');

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Rubik', sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
}

:root {
	--primary-dark: #353535;
	--primary-dark-transparent-10: rgba(53, 53, 53, 0.1);
	--primary-dark-transparent-50: rgba(53, 53, 53, 0.5);
	--primary-light-transparent-10: rgba(255, 255, 255, 0.1);
	--primary-light-transparent-50: rgba(255, 255, 255, 0.5);
	--gray: #b6b6b6;
	--white: #ffffff;

	--light: #ececec;

	--text-dark: var(--primary-dark);
	--text-light: var(--white);

	--border: 2px solid var(--primary-dark);

	--borderRadius-wide: 8px;
	--borderRadius-short: 4px;
	--borderRadius-circle: 100%;
}

body {
	&::-webkit-scrollbar {
		width: 22px;
	}
	&::-webkit-scrollbar-track {
		background: var(--light);
	}
	&::-webkit-scrollbar-thumb {
		background-color: var(--primary-dark-transparent-50);
		border: 8px solid transparent;
		border-radius: 100px;
		background-clip: content-box;
	}
}

.App {
	background: var(--light);
	min-height: 100vh;
}

a {
	text-decoration: none;
}

svg,
img {
	flex-shrink: 0;
}

.divider {
	background: var(--primary-dark);
	flex-shrink: 0;
	border-radius: 2px;
	&.horizontal {
		width: 100%;
		height: 2px;
	}
	&.vertical {
		width: 2px;
	}
}
